h1 {
  text-align: center;
  font-size: 2rem;
}

h4 {
}

p {
  text-align: right;
}

.main-container {
  background-color: #f2f2f2;
  border: 2px solid #73c990;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  background-color: #f2f2f2;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.form-center {
  margin: 0 auto;
}

.result-box {
  width: 8rem;
  height: 4rem;
  background-color: #CCCCCC;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.result {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.9rem;
}

.custom-button {
  background-color: #73c990;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.custom-button:active {
  background-color: blue;
}
